<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%if (env !== 'development') { %>
      <link rel="stylesheet" type="text/css" href="/styles.min.css"/>
    <% } %>

    <title>ReactStart</title>
  </head>
  <body>
    <div id="reactApp"></div>

    <!-- This script adds the Roboto font to the project. For details go to:
    http://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,500 -->
    <script>
      var WebFontConfig = {
        google: { families: ['Roboto:400,300,500:latin'] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    
    <%if (env !== 'development') { %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="/bundle.min.js"></script>
    <% } else { %>
      <script type="text/javascript" charset="utf-8" src="http://localhost:9001/bundle.js"></script>
    <% } %>
  </body>
</html>
